<div style="background-image: url(https://burst.shopifycdn.com/photos/night-sky-over-red-trees-in-setting-sun.jpg?width=1850&format=pjpg&exif=0&iptc=0); height: 100%; background-repeat: no-repeat; background-size:100% 100%;">
    <div nz-row [nzGutter]="10" [nzJustify]="'center'"  style="height: 100%;">
        <div nz-col [nzSpan]="24" style="padding: 2rem; text-align: center;" >
            <h1 style="font-size: 3rem; color: white;" nz-typography><span nz-icon nzType="api" nzTheme="twotone"></span>404..NOT FOUND</h1>
        </div>
    </div>
</div>
