.api-doc {
    .ant-typography {
      margin-bottom: 24px;
    }
  }
  .code-block {
    background: #f6f8fa;
    pre {
      margin: 0;
      padding: 8px;
    }
  }
  .mt-4 {
    margin-top: 16px;
  }
  .ml-2 {
    margin-left: 8px;
  }