<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Getting Started">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="introduction">Introduction</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Purpose of the API</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Key Features</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Installation">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Prerequisites</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Installation Guide</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Environment Configuration</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="API Documentation">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Authentication</a>
          </li>
         
              <li nz-submenu nzTitle="Student">
                <ul>
                  <li nz-menu-item>
                    <nz-tag [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">
                      POST
                    </nz-tag>Login
                  </li>
                  <li nz-menu-item>Register</li>
                </ul>
                </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout [ngClass]="{ 'collapsed': isCollapsed }" class="main-layout">
    <nz-header>
        
        <ul nz-menu nzTheme="light" nzMode="horizontal">
            <li nz-menu-item>
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
           
                    <span class="trigger"
                       nz-icon
                       [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                    ></span>
                    </span>
            </li>
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
            
          </ul>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
