<div nz-row [nzGutter]="10" [nzJustify]="'center'" class="overlay"
  *ngIf="getScreenWidth<780">
  <div nz-col [nzSpan]="24" style="padding: 2rem; text-align: center;">
    <nz-card style="width: 100%;">
      <h1 style="font-size: calc(1vw + 1rem);" nz-typography><span nz-icon
          nzType="desktop"></span>&nbsp;Desktop Mode Required</h1>
      <p nz-typography>please access this website on a desktop device or<br>
        enable "Desktop Mode" on your mobile browser.<br>
        Made with <span nz-icon nzType="heart" nzTheme="fill"
          style="color: #eb2f96;;"></span> By <strong>Ankit Borude</strong></p>
    </nz-card>
  </div>
</div>
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="300px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzTheme]="'dark'">
    <nz-card>
      <div nz-row [nzGutter]="1" [nzJustify]="'center'" [nzAlign]="'middle'">
        <div nz-col [nzSpan]="24" style="text-align: center;">
          <img height="32px" width="28px"
            src="https://ng.ant.design/assets/img/logo.svg">
          <p nz-typography
            style="white-space: nowrap; overflow: hidden; text-overflow:clip">Built
            Using <br>Angular Ant Design<br> <a
              href="https://ng.ant.design/docs/introduce/en">NZ-ZORRO</a></p>
          <span nz-typography nzType="success"
            style="font-weight: 800; white-space: nowrap; overflow: hidden; text-overflow:clip">
            <span nz-icon nzType="copyright"></span>
            Ankit Borude v1.2
          </span>
        </div>
      </div>
    </nz-card>
    <ul nz-menu [nzTheme]="'dark'" nzMode="inline"
      [nzInlineCollapsed]="isCollapsed" style="height: 100%;">
      <li nz-submenu nzOpen nzTitle="Getting Started">
        <ul>
          <li nz-menu-item nzOpen nzMatchRouterExact>
            <a routerLink="welcome">Introduction</a>
          </li>
          <li nz-menu-item nzMatchRouterExact>
            <a routerLink="key-feature">Key Features</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="System Architecture">
        <ul>
          <li nz-menu-item nzMatchRouterExact>
            <a routerLink="architecture/core">Core Components</a>
          </li>
          <li nz-menu-item nzMatchRouterExact>
            <a routerLink="architecture/project-structure">Project Structure</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Installation">
        <ul>
          <li nz-menu-item nzMatchRouterExact>
            <a routerLink="installation"
              fragment="prerequisites">Prerequisites</a>
          </li>
          <li nz-menu-item nzMatchRouterExact>
            <a routerLink="installation" fragment="enviroment">Environment
              Variables</a>
          </li>
          <li nz-menu-item nzMatchRouterExact>
            <a routerLink="installation"
              fragment="installation-guide">Installation Guide</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="API Documentation">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="authentication">Authentication</a>
          </li>

          <li nz-submenu nzTitle="Student">
            <ul>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Login and Get Token"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/0">Login and get Token</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Register"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/1">Register</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Regenerate Token"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/2">Regenerate Token</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Student by passed token"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/3">Student by passed token</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"All students"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/4">All students</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Assessment Exam Analytics"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/5">Assessment Exam Analytics</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Practice Exam Analytics"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/6">Practice Exam Analytics</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Assessment Exam Analytics By Admin"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/7">Assessment Exam Analytics</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Practice Exam Analytics By Admin"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/8">Practice Exam Analytics</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Self Update"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('PATCH')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('PATCH')">PATCH</nz-tag>
                <a routerLink="/api/9">Self Update</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Update Student"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('PATCH')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('PATCH')">PATCH</nz-tag>
                <a routerLink="/api/10">Update Student</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Delete Student"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('DELETE')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('DELETE')">DELETE</nz-tag>
                <a routerLink="/api/11">Student</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Delete Student all records"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('DELETE')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('DELETE')">DELETE</nz-tag>
                <a routerLink="/api/12">Student all records</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Admin">
            <ul>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Login and Get Token"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/13">Login and get Token</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Register"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/14">Register</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Regenerate Token"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/15">Regenerate Token</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Admin by passed token"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/16">Admin by passed token</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Self Update Admin"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('PATCH')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('PATCH')">PATCH</nz-tag>
                <a routerLink="/api/17">Self Update Admin</a>
              </li>
              <li nz-menu-item nzMatchRouter nz-tooltip
                [nzTooltipTitle]='"Delete Admin"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('DELETE')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('DELETE')">DELETE</nz-tag>
                <a routerLink="/api/18">Student</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Exam">
            <ul>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Create exam"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/19">Create exam</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Activate exam"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/20">Activate exam</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Deactivate exam"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/21">Deactivate exam</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Exam by authority"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/22">Exam by authority</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Exam results"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/23">Exam results</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Students attempted exam"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/24">Students attempted
                  exam</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Result of a student attempted exam"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/25">Result of
                  a student attempted exam</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Practice exam analytics"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/26">Practice exam
                  analytics</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Assessment exam analytics"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/27">Assessment exam
                  analytics</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Update exam"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('PATCH')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('PATCH')">PATCH</nz-tag>
                <a routerLink="/api/28">Update exam</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Delete exam results"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('DELETE')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('DELETE')">DELETE</nz-tag>
                <a routerLink="/api/29">Delete exam results</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Delete exam"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('DELETE')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('DELETE')">DELETE</nz-tag>
                <a routerLink="/api/30">Delete exam</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Questions">
            <ul>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Questions of a exam"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/31">Questions of a exam</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Regenerate questions"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('PATCH')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('PATCH')">PATCH</nz-tag>
                <a routerLink="/api/32">Regenerate
                  questions</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Result">
            <ul>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Create result"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('POST')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('POST')">POST</nz-tag>
                <a routerLink="/api/33">Create result</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Get a result"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
                <a routerLink="/api/34">Get a result</a>
              </li>
              <li
                nz-menu-item
                nzMatchRouter
                nz-tooltip
                [nzTooltipTitle]='"Delete a result"'
                [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('DELETE')">
                <nz-tag
                  [nzColor]="this.apiEndpointsservice.getMethodColor('DELETE')">DELETE</nz-tag>
                <a routerLink="/api/35">Delete a result</a>
              </li>
            </ul>
          </li>
          <li
            nz-menu-item
            nzMatchRouter
            nz-tooltip
            [nzTooltipTitle]='"Server health"'
            [nzTooltipColor]="this.apiEndpointsservice.getMethodColor('GET')">
            <nz-tag
              [nzColor]="this.apiEndpointsservice.getMethodColor('GET')">GET</nz-tag>
            <a routerLink="/api/36">Server health</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter><a routerLink="models">Models</a></li>
      <li nz-menu-item nzMatchRouter><a routerLink="testing">Testing</a></li>
      <li nz-menu-item nzMatchRouter><a routerLink="about">About</a></li>
    </ul>
  </nz-sider>
  <nz-layout [ngClass]="{ 'collapsed': isCollapsed }" class="main-layout">
    <nz-header>
      <div nz-flex nzVertical='false' style="height: 50%;">
        <div>
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">

            <span class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
          </span>
        </div>
        <div>
          <h4 nz-typography
            style="padding: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><strong>API
              Documentation</strong></h4>
        </div>
        <div style="flex: 1;">
          <div nz-flex nzVertical="false" nzJustify="end" nzAlign="center">
            <a
              href="https://github.com/AnkitBorude/Abacus-Exam-System-REST-API">
              <span nz-popover nzPopoverTitle="Support"
                [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom"
                class="header-items" nz-icon nzType="heart" nzTheme="fill"
                id="give-love"></span>
            </a>
            <a href="https://github.com/AnkitBorude">
              <span class="header-items"
                nz-icon
                [nzType]="'github'">
              </span>
            </a>

            <a href="https://www.linkedin.com/in/ankit-borude/">
              <span class="header-items"
                nz-icon
                [nzType]="'linkedin'"></span>
            </a>

            <a href="mailto:ankitborude250@gmail.com">
              <span class="header-items"
                nz-icon
                [nzType]="'mail'"></span>
            </a>
          </div>
        </div>
      </div>
      <div style="height: 20%;">
        <nz-progress [nzPercent]="this.scrollPercentage"
          [nzShowInfo]='false'></nz-progress>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" #scrollableDiv
        (scroll)="onScroll(scrollableDiv)">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #contentTemplate>
  <div>
    <p nz-typography style="font-weight: 800;">Click to support me by giving a
      Star &nbsp;<span nz-icon nzType="star" nzTheme="fill"
        style="color: #f7e604;;"></span>
      <br>to repo on GitHub and following me.
    </p>
  </div>
</ng-template>