:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
  display: flex;
  background-color: #fff;
}


nz-sider{
  background-color: #fff;
}
.menu-sidebar {
  position: fixed;
  overflow: auto;
  height: 100%;
  left: 0;
  transition: width 0.3s; /* Smooth transition on width change */
  z-index: 1000;
}

.header-trigger {
  height: 64px;
  padding: 20px;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.header-items{
  height: 64px;
  padding: 20px;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}
.trigger:hover {
  color: #1890ff;
}



.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}
.docname{
    position: relative;
    height: 120px;
    padding-left: 12px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-header {
  padding: 0;
  width: 100%;
  height: 64px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  z-index: 1001;
}

nz-content {
  margin: 24px 16px 0;
  overflow: initial;
}

.inner-content {
  padding: 20px;
  background: #fff;
  height: 100%;
  overflow: auto;
}

.main-layout {
  margin-left: 300px; /* Matches expanded sidebar width */
  transition: margin-left 0.3s; /* Smooth transition when sidebar toggles */
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.collapsed {
  margin-left: 80px; /* Matches collapsed sidebar width */
}